In [1]:
incsv = r"L:\groups\TSG\dataops\Social_Relations\Test\payment\archive\paymentcheck_07012014.csv"
import pandas as pd
df = pd.read_csv(incsv, index_col=False, header=0)
print df.head()

   CPS_ID   SAMPLE_ID  TRIGGER  PAYMENTNO  AMOUNT TITLE         FIRST  \
0     NaN  3000000003      NaN        NaN      20   NaN        Pepper
1     NaN  3000000002      NaN        NaN      20   NaN         Peach
2     NaN  3000000001      NaN        NaN      20   NaN  Passionfruit
3     NaN  3000000000      NaN        NaN      25   Dr.         Kenya
4     NaN  2300000003      NaN        NaN      20   NaN        Loquat

               LAST SUFFIX               ADDR1  ADDR2          CITY STATE  \
0            Maroon    NaN   4008 Brighton Ave    NaN   Los Angeles    CA
1            Maroon    NaN  17360 Fontana Path    NaN    Farmington    MN
2  Mediumaquamarine    NaN  45 Citrus Ridge Dr    NaN     Davenport    FL
3           Cormier    NaN    783 Betsy Island    NaN   Ziemannvill    AK
4             Olive    NaN      4325 Dobson St    NaN  Philadelphia    PA

     ZIP  COUNTRY   IWER
0  90062      NaN    NaN
1  55024      NaN    NaN
2  33837      NaN    NaN
3  10085      NaN  30000
4  19129      NaN    NaN

In [2]:
df.groupby('STATE').apply(lambda x: x['AMOUNT'].sum())

STATE
AK     50
AL    115
AR     20
AS     50
AZ     45
CA    285
CO     95
CT     60
FL    110
GA     45
GU     25
IL    100
IN     20
MA     85
MD     65
MI    265
MN     65
MO     25
MP     25
MS     45
NC     25
ND    105
NE     25
NM     25
NY     90
OH     40
OR     25
PA     60
PW     25
RI     25
SD     75
TX     85
UT     25
VA     20
VI     25
VT     25
WA    130
WI     20
WY     25
dtype: int64